body 
{
    background-color: white;
    color: black;
    font-family: monaco,Consolas,Lucida Console,monospace;
    margin: 0;
    padding: 0;
}

header 
{
    background-color: #121212;
    color: rgb(51, 0, 255);
    font-family: monaco,Consolas,Lucida Console,monospace;
    padding: 28px;
}

section
{
    background-color: rgb(51, 0, 255);
    color: #121212;
    font-family: monaco,Consolas,Lucida Console,monospace;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

div
{
    background-color: black;
    color: white !important;
    font-family: monaco,Consolas,Lucida Console,monospace;
    margin: auto;
    width: fit-content;
    padding: 5px 10px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul
{
    color: rgb(51, 0, 255);
    margin: 0;
    padding: 0;
    font-family: monaco,Consolas,Lucida Console,monospace;
    list-style-type: none;
}

li
{
    color: rgb(51, 0, 255);
    display: inline-block;
    font-family: monaco,Consolas,Lucida Console,monospace;
    margin-right: 20px;
}

footer
{
    background-color: #121212;
    color: rgb(51, 0, 255);
    font-family: monaco,Consolas,Lucida Console,monospace;
    padding: 25px;
}

header nav ul li a 
{
    color: rgb(51, 0, 255);
    font-family: monaco,Consolas,Lucida Console,monospace;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

header nav ul li a:hover 
{
    color: white;
    text-decoration: underline;
}