body 
{
    background-color: white;
    font-family: monaco,Consolas,Lucida Console,monospace;
    margin: 0;
    padding: 0;
}

header 
{
    background-color: black;
    font-family: andale mono, monospace;
    color: rgb(51, 0, 255);
    padding: 20px;
}

section
{
    background: black;
    color: white;
    font-family: monaco,Consolas,Lucida Console,monospace;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

div
{
    background: white;
    margin: auto;
    width: 100px;
}

ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li
{
    display: inline-block;
    margin-right: 20px;
}

footer
{
    background-color: black;
    font-family: andale mono, monospace;
    color: rgb(51, 0, 255);
    padding: 10px 20px;
}